<launch>

    <!-- Robot model: uv - drug - drug1 -->
    <arg name="robot" default="uv"/>
    <arg name="x" default="0.0"/>
    <arg name="y" default="0.0"/>
    <arg name="z" default="0.15"/>
    <arg name="Y" default="1.57"/>

    <group ns="$(arg robot)">
        <param name="tf_prefix" value="$(arg robot)_tf" />

        <!-- Include robot launch -->
        <include file="$(find robotics)/launch/gazebo/robot.launch">
            <arg name="robot" value="$(arg robot)" />
            <arg name="x" value="$(arg x)" />
            <arg name="y" value="$(arg y)" />
            <arg name="z" value="$(arg z)" />
            <arg name="Y" value="$(arg Y)" />
        </include>

        <!-- convert joint states to TF transforms  -->
        <node pkg="robot_state_publisher" type="robot_state_publisher"  name="robot_state_publisher">
            <param name="publish_frequency" type="double" value="30.0" />
        </node>

        <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher">
            <param name="use_gui" value="False"/>
            <param name="publish_frequency" type="double" value="30.0" />
        </node> 

        <node name="robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
            <param name="default_topic" value="/$(arg robot)/$(arg robot)_diffdrive_controller/cmd_vel"/>
        </node>
    </group>

    <include file="$(find robotics)/launch/multi_robot/controller_multi.launch">
        <arg name="robot" value="$(arg robot)" />
    </include>

</launch>